<!--TODO: Add Angular validation to your form-->
<!--TODO: 1. Update Form Definition-->
<!--TODO: 2. Create Validation Checks for Each Field-->
<!--TODO: 3. Create Message to Request Correct Data-->
<!--TODO: 4. Set Default value for gender Buttons->
<!--TODO: 5. Create String Validation to test phone numbers-->
<!--TODO: 7. Disable button until data is valid -->


<!DOCTYPE html>
<html lang="en" ng-app="EMS">
<head>
    <title>Employee Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EMS</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a href="#">Registration <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container" ng-controller="RegCtrl as ctrl">
    <div class="page-header">
        <h1>Employee Management System
            <small>Registration</small>
        </h1>
    </div>
    <br/>


    <!--TODO 1.1: set autcomplete off to prevent the browser from autocompleting data-->
    <!--TODO 1.2: set autcomplete off to prevent the browser from trying to do form validation because we're making our own-->
    <form name="regForm" ng-submit="ctrl.register()">

        <!--TODO 2.1: set ng-class to check for error-->
        <div class="form-group" >

            <label for="empNo">Employee No:</label>
            <!--TODO 2.2: Make Field required -->
            <input type="number" id="empNo" name="empNo"
                   class="form-control"
                   ng-model="ctrl.employee.empNo">
            <!--TODO 3.1: Set Conditions for Error Message-->
        </div>


        <div class="form-group">

            <label for="firstname">First name:</label>

            <input type="text" id="firstname" name="firstname"
                   class="form-control"
                   ng-model="ctrl.employee.firstname">
        </div>


        <!-- Create  Field for Last Name-->
        <div class="form-group" >

            <label for="lastname">Last name:</label>


            <input type="text" id="lastname" name="lastname"
                   class="form-control"
                   ng-model="ctrl.employee.lastname">
        </div>


        <div class="form-group" >

            <label>Gender:</label>

            <!-- TODO 4.1 Set Male radio button as checked -->
            <div class="radio">

                <label for="male" class="radio-inline">
                    <input type="radio" name="gender" id="male"
                           value="male"
                           ng-model="ctrl.employee.gender"
                    >Male
                </label>

                <label for="female" class="radio-inline">
                    <input type="radio" name="gender" id="female"
                           value="female"
                           ng-model="ctrl.employee.gender"
                    >Female
                </label>

            </div>

        </div>

        <div class="form-group" >

            <label for="birthday">Birthday:</label>


            <input type="date" id="birthday" name="birthday"
                   class="form-control"
                   ng-model="ctrl.employee.birthday"
                   >
        </div>


        <div class="form-group" >
            <label for="hiredate">Hire date:</label>


            <input type="date" id="hiredate" name="hiredate"
                   class="form-control"
                   ng-model="ctrl.employee.hiredate"
                   >
        </div>



        <div class="form-group">
            <label for="phonenumber">Phone Number:</label>

            <!--TODO 5.1: Set the ng-pattern-->
            <!-- TODO 5.2: Set the regular expression -->
            <input type="number" id="phonenumber" name="phonenumber"
                   class="form-control"
                   ng-model="ctrl.employee.phonenumber"
                   required/>

        </div>

        <br/>

        <div class="form-group">

            <!--TODO: 7. Disable button until data is valid -->
            <button type="submit" class="btn-success form-control" >
                Register
            </button>
        </div>

    </form>
</div>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="app/app.js"></script>
<script src="app/registration/register.controller.js"></script>


</body>
</html>